*{
  margin:0;
  padding:0;
 
 /*  -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

.solvedToString {

font-size: 60px;
font-family: 'UnderwoodChampionRegular';	
color: rgba(68, 68, 68,1);
text-align: center;
/*  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
 */
}
.solvedImg {
float:right;
margin-right: 5px;
margin-top: -20px;
}




#feedback {
	font-size: 20px;
	margin-left: 50px;
	font-family: 'UnderwoodChampionRegular';	

}





.shrink {font-size: 32px; line-height: 1px; text-align:center;}

/* #introButton

{
position: absolute;
font-size: 30px;
width: 300px;
height: 30px;
}
 */



#container {

height: 575px;
}

#rightAnswerReplace {
font-size: 22px;
position: absolute;
margin-top: 180px;
margin-left: 200px;
}





 .lis:first-child ul li{

opacity: 0;
	

} 

button{

font-size: 18px;
cursor: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
 padding:4px 4px 4px 40px;
border:solid 1px rgba(187, 187, 187,1);
outline: 1px solid rgba(68, 68, 68,1);


width:120px;
height: 40px;	
margin-left: 5px;
color: rgba(204, 204, 204,1);


}
#bottomContainer {
width: 1000px;
margin: auto;


}

#quoteText
{

opacity: 0;
text-align: center;

margin-top: 5px;
 font-style: italic;
 font-size: 12px;
 color: rgba(85, 85, 85, 1);
z-index: -1;
}



.textLis {
/* opacity: 0.5; */

}

.activeText {
  opacity: 1;

/*    -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; */
  
/*   -webkit-transition-delay: 0.8s;
   -moz-transition-delay: 0.8s;
     -o-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
        transition-delay: 0.8s; */
}


#checkButton {
opacity: 0;
float: right;
margin-left: 880px;
margin-top: -44px;

}


#prevButton {
background:rgba(178, 178, 178,1) url('cssImg/prev.png') center no-repeat;
margin-top: -111px;
width:40px;
height: 40px;
position: absolute;
margin-left:-60px;


}

#nextButton {
background: rgba(178, 178, 178,1) url('cssImg/next.png')center no-repeat;

float: right;
margin-top: -111px;
margin-left: 1015px;
position: absolute;
height: 40px;
width:40px;

}


.ButtonDisabled {
opacity: 0;


}



#progOuter {

width: inherit;
height: 5px;
border: 1px solid rgb(68, 68, 68);
overflow: hidden;
background-color: transparent;
margin-bottom: 10px;
}

#progInner {
width: inherit;
height: inherit;
background-color:rgba(68, 68, 68,1);

}
#initButtonContainer {

width: 390px;
margin-top: 200px;
position: absolute;
margin: auto;
margin-left: 305px;


}

.initButton {

font-size: 18px;
cursor: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
padding: 0px;
border:solid 1px rgba(187, 187, 187,1);
outline: 1px solid rgba(68, 68, 68,1);
position: relative;
float: left;
margin-right: 5px;
margin-left: 5px;
top: 170px;

width:120px;
height: 40px;	
background: rgba(68, 68, 68,1);
color: rgba(204, 204, 204,1);
z-index: 9999;

}

div .jMyPuzzle{

	
	width: 1000px;

	margin-top: 0px;

	

 -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0); 
	
}

.splitList{
	
	display:block;
	margin-top:70px;
	position: relative;
 margin-left: auto;
    margin-right: auto;
	
		
	
	
	width:100%; 	/* Do not remove */
}

div .jMyPuzzle ul li{
	display:block;
	float:left;
	font-size: 56px;
	font-weight:normal;
	color:rgb(68, 68, 68);
	padding-left:14px;
	padding-right:14px;
	position: absolute;
	cursor:pointer;
	border:solid 1px #000000;
	border-radius: 3px;
/* 	box-shadow: 1px 1px 10px -2px #888888; */
	-webkit-backface-visibility: hidden;

}

.whiteSpace {

text-indent: 100%;
width: 30px;
white-space: nowrap;
overflow: hidden;
}


.suffixes {

text-decoration: line-through;

padding-left: 0px;
padding-right: 0px;
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;

}

.suffixDone {
text-decoration: none;
padding-right: 2px;
padding-left: 0px;
letter-spacing: -1px;
font-family: Georgia, serif;
font-size: 17px;
line-height: 19px;
font-weight: bold;
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;

}

.textBox { 



color: rgb(80, 80, 80);
position: absolute; 
margin-top: 90px;

width: 1000px;
height: 300px;
-webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;

}
.textBox .textSlidee { margin: 0; padding: 0; height: 100%; list-style: none; opacity: 0; 	}
.textBox .textSlidee li {


    float: left;
    margin: 0;
    padding: 0;
	width: 320px;
	
	/* opacity: 0.3; */
	font-family: Georgia, serif;
font-size: 17px;
line-height: 19px;
	margin-left: 5px;
	margin-right: 5px;
-webkit-backface-visibility: hidden;
background-image:url('../../img/3_lighter2.jpg');

}

.textBox .textSlidee li  p {
	margin: 0;
    margin-bottom: 5px;
    padding: 0;
}



.frame { 
position: absolute; 
margin-top: 390px; 
padding: 0; 
width: 1000px;
height: 182px;

}
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li.lis {

	height: inherit;
    float: left;
    margin: 0;
    padding: 0;

	
}


