 @font-face {
font-family: 'UnderwoodChampionRegular';
src: url('underwood_champion-webfont.eot');
src: url('underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
	 url('underwood_champion-webfont.woff') format('woff'),
	 url('underwood_champion-webfont.ttf') format('truetype'),
	 url('underwood_champion-webfont.svg#UnderwoodChampionRegular') format('svg');
font-weight: normal;
font-style: normal;
} 

* {
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

button{
font-size: 18px;
cursor: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
border:solid 1px rgba(187, 187, 187,1);
outline: 1px solid rgba(68, 68, 68,1);
background:rgba(68, 68, 68,1);
color: rgba(204, 204, 204,1);

} 

#closingButton {
-webkit-perspective: 1000;
-webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
height: 40px;
width: 40px;
padding: 10px;
text-align: center;
margin-top: 18px;
margin-left: 952px;
position: absolute;
}

#checkButton{
background: rgba(68, 68, 68,1) url('cssImg/checkButtonSmall.png') 10% center no-repeat;
 padding:2px 2px 2px 40px;
width:127px;
height: 40px;

}

#prevButton {
background:transparent url('cssImg/prev.png') center no-repeat;

width:40px;
height: 40px;

}

#nextButton {
background: transparent url('cssImg/next.png')center no-repeat;
height: 40px;
width:40px;
}


.pages {
list-style: none;
padding: 0;
text-align: center;
z-index: -1;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.pages li {
	
display: inline-block;
width: 15px;
height: 15px;
margin: 0 4px;
text-indent: -999px;
border-radius: 10px;
border: 1px solid rgba(51, 51, 51,1);
background: transparent;
cursor: pointer;
overflow: hidden;

}

/* .pages li:hover {
	background: #aaa;
} */
.pages li.active {
	background: rgb(68, 68, 68);
}

#container {
margin: auto;
margin-top: -15px;
width: 1000px;
}

#wrongCount {
opacity: 0;
font-size:20px;
position: absolute;
width: 118px;
margin-left: 828px;
letter-spacing: -1px;
word-spacing: 2px;
float: right;
font-family: 'arial';
color: rgb(73, 73, 73);
font-weight: bold;
text-align: center;
height: 40px;
line-height: 40px;
color: rgb(68, 68, 68);
border: 1px solid rgb(68, 68, 68);
z-index: 9999;
margin-top: 17px;
}
