*{
  margin:0;
  padding:0;
 /*  -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

.solvedToString {

font-size: 24px;
text-align: center;
color: rgb(50, 50, 50);

}
.solvedImg {
float:right;
margin-top: -15px;
}

#initButtonContainer {

width: 390px;
margin-top: 200px;
position: absolute;
margin: auto;
margin-left: 305px;


}

.initButton {

font-size: 18px;
cursor: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
padding: 0px;
border:solid 1px rgba(187, 187, 187,1);
outline: 1px solid rgba(68, 68, 68,1);
position: relative;
float: left;
margin-right: 5px;
margin-left: 5px;
top: 170px;

width:120px;
height: 40px;	
background: rgba(68, 68, 68,1);
color: rgba(204, 204, 204,1);
z-index: 9999;

}

.frame { 
margin: 0 auto;



-webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;

 padding: 0; width: 1000px; height: 200px;
 position:absolute;
 margin-top: 70px;
 -ms-touch-action: none;
}
.frame .slidee { margin: 0; padding: 0; height: 200px; list-style: none; -ms-touch-action: none;}
.frame .slidee li.lis {


   float: left;
    margin: 0;
    padding: 0;
-ms-touch-action: none;
	
}

#feedback {
	font-size: 20px;
	margin-left: 50px;
	font-family: 'UnderwoodChampionRegular';	

}


#quoteText
{

opacity: 0;
text-align: center;
position: absolute;
width: inherit;

 font-style: italic;
 font-size: 12px;
 color: rgba(85, 85, 85, 1);
z-index: -1;

}


.shrink {font-size: 32px; line-height: 1px; text-align:center;}

#introButton

{
position: absolute;
font-size: 30px;
width: 300px;
height: 30px;
}

 


#container
{


height: 270px;


}











div.jMyPuzzle{

	width: 100%;

	
	height:200px;
 -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0); 




}

div .jMyPuzzle ul{
	

display: block;
position: relative;
	
	margin-top:75px;
	width:100%; 	/* Do not remove */
	
	
}

.ulBorder {
margin: 0 auto;

width: 999px;
height: 200px;




}

#rightAnswerReplace {

font-size: 22px;
position: absolute;
margin-top: 180px;
margin-left: 200px;
}

.first  {
text-transform: lowercase;

}

.low {
text-transform: lowercase;

}

div .jMyPuzzle ul li{

letter-spacing: -1px;
word-spacing: 2px;

	float:left;
	font-size: 20px;
	font-family: 'arial';
	font-weight:bold;
	color: rgb(73, 73, 73);
	padding-left:6px;
	padding-right:6px;
	padding-top:8px;
	padding-bottom:8px;
	margin:2px;
/* 	box-shadow: 1px 1px 10px -2px #888888;
	 */
	cursor:pointer;
	border: 1px solid rgba(68, 68, 68,1);
	white-space:nowrap;
	border-radius: 3px;
	
 	-webkit-backface-visibility: hidden;
	-ms-touch-action: none;
}
@media all and (max-width: 1200px) {


	div .jMyPuzzle ul li{
	font-weight:normal;
		font-size: 18px;
		padding-left:5px;
		padding-right:5px;
		padding-top:8px;
		padding-bottom:8px;
		-ms-touch-action: none;
	}
	
	#prevButton {
display:none;
	}

	#nextButton {
	display:none;

	}

}



.lis:first-child ul li{

opacity: 0;
	

}

button{

font-size: 18px;
cursor: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
 padding:4px 4px 4px 40px;
border:solid 1px rgba(187, 187, 187,1);
outline: 1px solid rgba(68, 68, 68,1);

margin-top: -25px;
width:120px;
height: 40px;	
margin-left: 5px;
color: rgba(204, 204, 204,1);


}
#bottomContainer {
width: 1002px;
margin: auto;
height: 50px;
margin-top: 0px;
}


/* #next{



float: right;

background: rgba(68, 68, 68,1) url('nextButton_white.png') 10% center no-repeat; 


} */


#checkButton {

opacity: 0;
	float: right;

background: rgba(68, 68, 68,1) url('cssImg/checkButton.png') 10% center no-repeat;
margin-left: 880px;

}

#easyHard{

	
	float: right;
	font-size: 18px;
	line-height: 15px;
	width:137px;
	
	
background: rgba(204, 204, 204,1);
	border:solid 1px rgba(68, 68, 68,1);
	outline:solid 1px rgba(187, 187, 187,1);
	
	
	padding:4px 0px 7px 0px;	
}

#prevButton {
background:transparent url('cssImg/prev.png') center no-repeat;
margin-top: -141px;
width:40px;
height: 40px;
position: absolute;
margin-left:-50px;


}

#nextButton {
background: transparent url('cssImg/next.png')center no-repeat;

float: right;
margin-top: -141px;
margin-left: 1005px;
position: absolute;
height: 40px;
width:40px;

}


.ButtonDisabled {
opacity: 0;


}




.normal{
	background-color:transparent;
}

.notValidMi{
	background-color:#fb0b1c;
}

.miValid{
	background-color:#008000;
}

.validMi{
	background-color:#009900;
}


#progressbar {

opacity: 0;
  height: 6px;
  border: 1px solid rgba(68, 68, 68,1);

  margin: 0 auto;
  margin-bottom: 10px;
  background: transparent;
  
    



   width: 986px;
 
 padding:0;
 

}

.ui-progressbar .ui-progressbar-value {

background: rgba(68, 68, 68,1);
    margin: 0px;
    height: 100%;
}


