* {margin: 0; padding:0;}

.slidee li.active
{

font-size: 28px;
}

tr:nth-child(odd) {background:rgba(204, 204, 204,0);}
tr:nth-child(even) {background: rgba(187, 187, 187,0.3);}
tr{color:  	#black;}




 @font-face {
    font-family: 'UnderwoodChampionRegular';
    src: url('underwood_champion-webfont.eot');
    src: url('underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
         url('underwood_champion-webfont.woff') format('woff'),
         url('underwood_champion-webfont.ttf') format('truetype'),
         url('underwood_champion-webfont.svg#UnderwoodChampionRegular') format('svg');
    font-weight: normal;
    font-style: normal;
} 


#topTableHeader {
width: inherit;
margin-top: 28px;
position: absolute;
border-top: 5px solid #222;
table-layout: fixed;
border-collapse:collapse;
}

#topTableMid {
width: inherit;
margin-top: 59px;
position: absolute;

table-layout: fixed;
border-collapse:collapse;
}

#topTableStatic {
width: inherit;
margin-top: 199px;
position: absolute;

table-layout: fixed;
border-collapse:collapse;
}


#bottomTableHeader {
width: inherit;
position: absolute;
margin-top: 273px;

border-top: 5px solid #222;
table-layout: fixed;
border-collapse:collapse;


}

#bottomTableMid {
width: inherit;
position: absolute;
margin-top: 304px;


table-layout: fixed;
border-collapse:collapse;

}

#bottomTableStatic {
width: inherit;
position: absolute;
margin-top: 444px;


table-layout: fixed;
border-collapse:collapse;

}



#container {
margin: 0 auto;
margin-top: 18px;
width: 990px;
height: 620px;

}

th {
font-size: 24px;
line-height: 16px;
width: 55px;
color: rgba(51, 51, 51,1);

letter-spacing: -1px;



}
th:nth-child(2){


width: 85px;
color: rgba(51, 51, 51,1);

padding-top: 5px;
padding-bottom: 5px;



}
th:nth-child(3){


width: 85px;
color: rgba(221, 221, 221,1);
background:  rgba(51, 51, 51,1);
padding-top: 5px;
padding-bottom: 5px;


}
th:nth-child(4){


width: 90px;
color: rgba(51, 51, 51,1);

padding-top: 5px;
padding-bottom: 5px;



}
th:nth-child(5){


width: 90px;
color:rgba(221, 221, 221,1);
padding-top: 5px;
padding-bottom: 5px;
background: rgba(51, 51, 51,1);


}
th:nth-child(6){


width: 130px;
color: rgba(51, 51, 51,1);

padding-top: 5px;
padding-bottom: 5px;



}
th:nth-child(7){


width: 140px;
color: rgba(204, 204, 204,1);
background: rgba(51, 51, 51,1);
padding-top: 5px;
padding-bottom: 5px;


}

td {

  text-align: center;
  font-size: 18px;
  line-height: 16px;
 height: 35px;
width: 55px;



}
td:nth-child(2){


width: 85px;





}
td:nth-child(3){


width: 85px;




}
td:nth-child(4){


width: 90px;





}
td:nth-child(5){


width: 90px;





}
td:nth-child(6){


width: 130px;






}
td:nth-child(7){


width: 140px;





}



.toTheLeft {
padding-right: 3px;
float: left;
margin-top: 7px;
margin-left: 15px;
margin-bottom: 7px;




}


/* .column1 {
width: 40px;
text-align: center;
}
 .column2 {
width: 130px;
text-align: center;
}
 .column3 {
width: 100px;
text-align: center;
}

.column4 {
width: 130px;
text-align: center;
}
.column5 {
width: 100px;
text-align: center;
} */
/* .column6 {
width: 190px;
text-align: center;
}
.column7 {
width: 190px;
text-align: center;
}  */ 






#closingButton {
float: none;
font-size: 18px;
position: absolute;
height: 40px;
width: 40px;
margin-left: 950px;
margin-top: -15px;

padding: 10px;
font-size: 18px;
cursor: pointer;
-webkit-tap-highlight-color: rgba(0,0,0,0);
border: solid 1px rgba(187, 187, 187,1);
outline: 1px solid rgba(68, 68, 68,1);
background: rgba(68, 68, 68,1);
color: rgba(204, 204, 204,1);



}





#startText {
position: absolute;
margin-top: 522px;
margin-left: 20px;
font-family: 'UnderwoodChampionRegular';
font-size: 14px;
width: 250px;
z-index: 2;
color: rgba(51, 51, 51,1);
}

#arrowRight
{
position: absolute;
margin-top: 465px;
margin-left: 240px;
width: 90px;
}


.frame {
  position: absolute;	 
  width: inherit;
  margin-top: 518px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  margin-left: 1px;
  
  height: 60px;
  overflow: hidden;
}
.slidee {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slidee li {

list-style: none;
float: left;
margin: 0 1px 0 0;
text-align: center;
line-height: 60px;
padding-top: 3px;

width: 132px;
 height: 68px;
color: rgba(204, 204, 204,1);
font-size: 20px;
font-family: 'UnderwoodChampionRegular';

background: rgba(51, 51, 51,1);
}

#bottomContainer {
position: absolute;
margin-top: 584px;
height: 40px;


}
 
 .bottomContainer {
 height: 40px;
 border: 1px solid black;
font-size:18px;
 padding: 0;
 float: left;
 display: block;
 text-align: center;
 line-height: 40px;
 }
 
 #wordDef {


width: 420px;

height: 38px;




}

#inputSearch {


float: left;

height: 38px;
border-left: none;
color: rgba(51, 51, 51,1);
background: transparent;
width: 112px;
 text-align: left;
}
#inputHelper {
float: right;
    height: 100%;


}


#img1 {
 float: left;
padding:6px;
padding-bottom: 7px;
border-top: 1px solid black;
border-bottom: 1px solid black;
max-height: 25px;
    vertical-align: middle;



}

button {
cursor: pointer;
position: relative;

}

.alphabetButtons {

width: 44px;
}




#prevButton {
background: url('../quiz/css/cssImg/prev.png') center no-repeat;

width:50px;



}

#nextButton {
background:url('../quiz/css/cssImg/next.png')center no-repeat;

width:50px;



}

#skipPrevButton {
background:url('../quiz/css/cssImg/skipPrev.gif') center no-repeat;

width:50px;



}
#skipNextButton {
background:url('../quiz/css/cssImg/skipNext.gif') center no-repeat;

width:50px;



}
